#cardList {
    display: flex;
    flex-flow:row wrap;
    margin:0.75em;
}
card {
    background-color:var(--bs-dark-border-subtle);
    display:flex;
    flex-direction: column;
    align-items:center;
    width:25em;
    border-radius: 2em;
    margin:0.75em;
}
card > header {
    margin-top:0.25em;
    font-size:1.75em;
}

card > inner {
    background-color: var(--bs-secondary-bg);
    display:flex;
    flex-direction: column;
    justify-content:center;
    width:100%;
}
card > inner > img {
    width:23em;
    margin-top:1em;
    margin-right:1em;
    margin-bottom:1em;
    margin-left:1em;
    aspect-ratio: 16/9;
}

card > footer {
    display: flex;
    flex-direction: column;
    width:90%;
    margin-top:0.75em;
    margin-bottom:1.5em;
}
card > footer > hide {
    display: flex;
    overflow: hidden;
    max-height:0px;
    font-size:1.125em
}
card > footer > input[type="button"] {
    width:2em;
    border-style: solid;
    border-radius: 10%;
    border-color: var(--bs-gray-700);
    background-color: inherit !important;
    color:white;
}
card[show="true"] > footer > hide {
    max-height:1000px;
}
@media screen and (max-width: 55.5em) {
    card {
        width:100%;
        margin:0;
    }
    .cardParent {
        width:100%;
        margin:0.75em;
    }
    #cardList {
        margin:0.75em;
        justify-content: center;
    }
    card > inner {
        align-items:center;
        justify-content: center;
    }
    card > inner > img {
        width:calc(100% - 2em);
    }
}